= semantic_form_for @user do |f|
  = f.inputs do
    = f.input :name, :label => "What's your name?"
    = f.input :email, :label => "What's your email?"
    = f.input :password, :label => "What's your password?"
    = f.input :password_confirmation, :label => "Please type your password again."
  = f.buttons do
    = f.commit_button "#{@submit_text.blank? ? "Submit" : @submit_text} &raquo;".html_safe