#meal_full
  .meal_host
    - if @meal.host == @user
      #{ link_to 'You', @user } are hosting...
    - else
      #{ link_to @meal.host.name, @meal.host } is hosting...

  .meal_name= @meal.name

  %table.details
    %tbody
      %tr
        %td      
          .det-label Where
          .det= @meal.location
        %td
          .det-label When
          .det= @meal.time
    
      %tr
        %td
          .det-label Cuisine
          .det= @meal.cuisine
        %td
          .det-label Details
          .det= @meal.description || "No other details provided."
    
  .seats
    %span.num_seats= @meal.available_seats_str
    
    available
  
  .remaining_seats
    - if @meal.guests_for_threshold > 0
      need
      %span.guest_threshold.neg #{ @meal.guests_for_threshold_str }
      for meal to take place
    - else
      %span.guest_threshold.pos The meal is on!
    
  - if @meal.host == @user
    .attendance_info
      - if @meal.guest_attendances.blank?
        no guests yet
      - else
        %span.linkish.expand_guest_list show guest list
      &middot;
      = link_to 'edit details', edit_meal_url(@meal)
      &middot;
      cancel meal
      
      %ol.guest_list
        - @meal.guest_attendances.each do |a|
          %li= "#{a.user.name} (#{a.num_attending.to_s})"

  - else
    = form_for @attendance, :url => attend_meal_url, :html => { :method => :post } do |f|
      %fieldset.attendance_info
        - if @attendance.id
          You are attending with a party of  
          %strong= @attendance.num_attending.to_s + '.'
          %input{ :type => :submit, :value => "Cancel reservation »".html_safe, :class => "linkish unbutton" }
        - elsif @meal.available_seats <= 0
          Sorry, there are no more seats left.
        - else
          Reserve a place for
          %input{ :type => :text, :name => :num_attending }
          guest(s).
          %input{ :type => :submit, :value => "Go »".html_safe, :class => "linkish unbutton" }

  
  