
%h2 Log in here.
%h3 (If you don't have an account, you should #{ link_to 'register one', signup_url } first.)

= semantic_form_for @user_session do |f|
  = f.inputs do
    = f.input :email, :label => "Please enter your email address."
    = f.input :password, :label => "Please enter your password."
  = f.buttons do
    = f.commit_button "Sign in &raquo;".html_safe