!!!5
%html
  %head
    %title eathckr
    = stylesheet_link_tag 'application'
    /[if lt IE 9]
      %script{:src => "//html5shim.googlecode.com/svn/trunk/html5.js"}
      = stylesheet_link_tag 'ie'
    = csrf_meta_tag
    = include_gitkit_headers
    = javascript_include_tag 'application'
      
  %body
    = render 'site/header'
    - if flash[:win]
      .win= flash[:win]
    - elsif flash[:fail]
      .fail= flash[:fail]
    #content= yield
    = render 'site/footer'